<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Student Management System</title>

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<style>
			.container {
				width: 800px;
			}
			h1 {
				margin: 1em;
			}
			h2 {
				margin: 1em 0;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<h1>- SMS - Student Management System</h1>
			<hr />
			<h2>Update a student entry</h2>

			<form
				action="#"
				th:action="@{/update-student}"
				th:object="${student}"
				method="POST"
			>
				<!-- Add hidden form field to handle update -->
				<!-- <input type="hidden" th:field="*{uuid}" /> -->
				<input
					type="text"
					th:field="*{neptune}"
					placeholder="Neptune code"
					class="form-control mb-4 col-4"
				/>
				<input
					type="text"
					th:field="*{firstName}"
					placeholder="First name"
					class="form-control mb-4 col-4"
				/>

				<input
					type="text"
					th:field="*{lastName}"
					placeholder="Last name"
					class="form-control mb-4 col-4"
				/>

				<select th:field="*{major}">
					<option th:value="'PTI'">Computer science</option>
					<option th:value="'MI'">Computer engineering</option>
					<option th:value="'GI'">Economics</option>
				</select>

				<select th:field="*{educationType}">
					<option th:value="'full-time'">Full time</option>
					<option th:value="'part-time'">Part time</option>
					<option th:value="'correspondance'">Correspondence</option>
				</select>

				<button type="submit" class="btn btn-info col-2">Update Student</button>
			</form>

			<hr />

			<a th:href="@{/students}"> Back to Student List</a>
		</div>
	</body>
</html>
